<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Farmacia</display-name>
  <welcome-file-list>
    <welcome-file>ProductView.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Test</description>
    <res-ref-name>jdbc/farmacia</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>ProductControl</servlet-name>
    <servlet-class>it.unisa.control.ProductControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductControl</servlet-name>
    <url-pattern>/catalogo</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name> DetailsControl </servlet-name>
    <servlet-class>it.unisa.control.DetailsControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name> DetailsControl </servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  
  
      <servlet>
    <servlet-name> CartControl </servlet-name>
    <servlet-class>it.unisa.control.CartControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name> CartControl </servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  
        <servlet>
    <servlet-name> LoginControl </servlet-name>
    <servlet-class>it.unisa.control.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name> LoginControl </servlet-name>
    <url-pattern>/account/login</url-pattern>
  </servlet-mapping>
  
  
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
	</error-page>
	
	  <error-page>
    <error-code>500</error-code>
    <location>/error500.jsp</location>
	</error-page>
	
	<error-page>
    <error-code>302</error-code>
    <location>/error302.jsp</location>
	</error-page>
  
  
  
</web-app>