@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); 


header .grid-container > div
{
	height:10%;
	font-family: "IBM plex Sans";
	font-size: 20px;
}

.logo
{
	padding-left:1%;
	float:left;
}


.menu {
    list-style-type: none;
    margin: 5;
    background-color: #E6F2E0;
    overflow: hidden;
    display: flex; /* Aggiunto per utilizzare il flexbox */
    justify-content: center;
    align-items: center; /* Per allineare verticalmente i contenuti */
}

.menu li {
    float: left;
    text-align: center;
}

.menu li a {    
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #FFDAB9;
}

.main-header {
    font-size: 20px;
    justify-content: center;
    align-content: right;
    text-align: center;
    padding: 4%;
    float:right
}

.main-header a:link {
    padding: 2%;
    margin: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

header
{
	height:10%;
	overflow:hidden;
	background-color: #A0C49D;
	width:100%;
	z-index:999;
}


@media screen and(max-width:780px)
{
	.main-header
	{
		display:none;
	}
}

header .grid-container
{
	height:70px;
	display:grid;
	grid-template-columns:80% 20% 20% ;
	grid-template-rows:auto;
	gap: 5px;
	background:#A0C49D;
}




