/* Stili per il footer */
footer {
    background-color: #A0C49D;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-logo {
    text-align: center;
}

.logo-content {
    max-width: 300px; /* Imposta una larghezza massima per il contenuto */
    margin: 0 auto; /* Centra il contenuto */
}

.footer-logo img {
    display: block;
    margin: 0 auto; /* Centra l'immagine */
    
}

.footer-text {
    text-align: center;
    margin-top: 10px; /* Aggiunge spazio sopra il testo */
    max-width: 90%;
    margin: 0 auto;
}

.footer-info {
    text-align: left;
}

.footer-info h3 {
    margin-top: 0;
}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social ul li {
    display: inline;
    margin-right: 10px;
}

.footer-social ul li:last-child {
    margin-right: 0;
}
